<mat-toolbar color="primary">
	<span>Unitable</span>
	<button mat-button routerLink="/admin/actividades" class="ms-2">Actividades</button>
	<button mat-button routerLink="/admin/groups" class="ms-2">Groups</button>
	<button mat-button routerLink="/admin/usuarios" class="ms-2">Usuarios</button>

	<span class="spacer"></span>

	<button mat-button [matMenuTriggerFor]="menu">
		<mat-icon>account_circle</mat-icon> Usuario
	</button>

	<mat-menu #menu="matMenu">
		<button mat-menu-item (click)="verPerfil()">
		<mat-icon>account_circle</mat-icon> Ver perfil
		</button>
		<button mat-menu-item (click)="signOut()">
		<mat-icon>logout</mat-icon> Cerrar sesión
		</button>
	</mat-menu>

</mat-toolbar>

<router-outlet></router-outlet>