<div>
    <div class="d-flex justify-content-between">
        <label class="text-left bold">
            Lista de Actividades
        </label>
        <button class="margin" mat-raised-button color="primary" routerLink="/admin/actividades/nuevo">
            Nueva Actividad
        </button>
    </div>
    
    <div *ngFor="let actividad of actividades">
        <mat-expansion-panel hideToggle style="background-color: aqua;">
            <mat-expansion-panel-header>
              <mat-panel-title class="text-end">
                {{actividad.nombre}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Detalles: {{actividad.detalles}}</p>
            <p>Fecha de inicio: {{actividad.fecha_ini}}</p>
            <p>Fecha de fin: {{actividad.fecha_fin}}</p>
            <p>Activa: {{actividad.activa}}</p>
            <mat-action-row>
                <button mat-raised-button color="warn">EDITAR</button>
            </mat-action-row>
        </mat-expansion-panel>
    </div> 
</div>    


