.date-box-date{
    width: 50%;
}

.date-box-time{
    width: 50%;
}

.new-actividad-form{
    float: right;
    width: 60%;
    display: block;
    padding-right: 15%;
}

.new-actividad-view{
    float: left;
    width: 40%;
    display: block;
    padding: 20px;
}

