
.mat-card-message-user{
	color: white;
	background: rgb(140, 140, 255);
	float: right;
}
.mat-card-message-other{
	float: left;
}

.cart-message-container{
	width: 100%;
}

mat-card{
	padding: 10px;
}

mat-card p{
	margin: 0;
}

mat-card mat-card-subtitle{
	padding: 3px;
	font-size: small;
}