
.mat-card-message-user{
	color: white;
	background: rgb(140, 140, 255);
	float: right;
}
.mat-card-message-other{
	float: left;
}

.cart-message-container{
	width: 100%;
}

mat-card{
	padding: 10px;
}

mat-card p{
	margin: 0;
}

mat-card mat-card-subtitle{
	padding: 3px;
	font-size: small;
}

.main-chat-messages{
	width: calc(100% - 400px);
	padding-right: 50px;
	padding-left: 50px;
	display: block;
	float: left;
}
.main-chat-users{
	width: 400px;
	height: 100%;
	display: block;
	float: right;
}