<div class="container mt-5">
	<h1 class="fw-bold row justify-content-center">Registrar</h1>
  
	<div class="row justify-content-center">
	  <div class="col-md-6 col-lg-4">
		<form autocomplete="off" (ngSubmit)="onSubmit()" #loginForm="ngForm">
		  <mat-form-field appearance="outline" class="d-block">
			<mat-label>Correo</mat-label>
			<input
			  matInput
			  type="text"
			  placeholder="Correo"
			  name="correo"
			  [(ngModel)]="signup.correo"
			  #correo="ngModel"
			  required
			/>
			<mat-error *ngIf="correo.hasError('required')">
			  Este campo es obligatorio
			</mat-error>
		  </mat-form-field>
  
		  <mat-form-field appearance="outline" class="d-block">
			<mat-label>Contraseña</mat-label>
			<input
			  matInput
			  type="password"
			  placeholder="Contraseña"
			  name="password"
			  [(ngModel)]="signup.password"
			  #password="ngModel"
			  required
			/>
			<mat-error *ngIf="password.hasError('required')">
			  Este campo es obligatorio
			</mat-error>
		  </mat-form-field>

		  <mat-form-field appearance="outline" class="d-block">
			<mat-label>Nombre</mat-label>
			<input
			  matInput
			  type="text"
			  placeholder="Nombre"
			  name="nombre"
			  [(ngModel)]="signup.nombres"
			  #nombre="ngModel"
			  required
			/>
			<mat-error *ngIf="nombre.hasError('required')">
			  Este campo es obligatorio
			</mat-error>
		  </mat-form-field>

		  <mat-form-field appearance="outline" class="d-block">
			<mat-label>Apellido</mat-label>
			<input
			  matInput
			  type="text"
			  placeholder="Apellido"
			  name="apellido"
			  [(ngModel)]="signup.apellidos"
			  #apellido="ngModel"
			  required
			/>
			<mat-error *ngIf="apellido.hasError('required')">
			  Este campo es obligatorio
			</mat-error>
		  </mat-form-field>

		  <mat-form-field appearance="outline" class="d-block">
			<mat-label>Carrera</mat-label>
			<input
			  matInput
			  type="text"
			  placeholder="Carrera"
			  name="carrera"
			  [(ngModel)]="signup.carrera"
			  #carrera="ngModel"
			  required
			/>
			<mat-error *ngIf="carrera.hasError('required')">
			  Este campo es obligatorio
			</mat-error>
		  </mat-form-field>

		  <mat-form-field appearance="fill" class="d-block">
			<mat-label>Tipo de cuenta</mat-label>
			<mat-select
				name="tipo"
				[(ngModel)]="signup.tipo_usuario"
				#tipou="ngModel"
			  	required
			>
				<mat-option value="ESTUDIANTE">Estudiante</mat-option>
				<mat-option value="COACH">Coach</mat-option>
			</mat-select>
			<mat-error *ngIf="tipou.hasError('required')">
			  Este campo es obligatorio
			</mat-error>
		  </mat-form-field>
  
		  <button mat-raised-button color="primary" class="mt-5 w-100">
			Registrar
		  </button>
  
		  <!--<div *ngIf="invalid" class="alert alert-danger mt-3">
			El usuario o contraseña no son correctos.
		  </div>-->
		</form>
	  </div>
	</div>
  </div>
  