<div class="row ">
	<div class="col-md-offset-3 mx-auto">
	  <form
		(ngSubmit)="save()"
		autocomplete="off"
		[formGroup]="form"
		#frmGroup="ngForm"
	  >
		<mat-form-field appearance="outline" class="d-block">
		  <mat-label>Nombre</mat-label>
		  <input
			matInput
			type="text"
			placeholder="Nombre"
			formControlName="nombre"
		  />
  
		  <mat-error *ngIf="form.controls.nombre.hasError('required')">
			Este campo es obligatorio
		  </mat-error>
		  <mat-error *ngIf="form.controls.nombre.hasError('minlength')">
			Debe tener al menos 5 caracteres
		  </mat-error>
		  <mat-error *ngIf="form.controls.nombre.hasError('maxlength')">
			Debe tener 70 caracteres como máximo
		  </mat-error>
		</mat-form-field>

		<mat-form-field appearance="outline" class="d-block">
			<mat-label>Tema</mat-label>
			<textarea matInput formControlName="tema" row="5"></textarea>
	
			<mat-error *ngIf="form.controls.tema.hasError('required')">
			  Este campo es obligatorio
			</mat-error>
			<mat-error *ngIf="form.controls.tema.hasError('minlength')">
			  Debe tener al menos 11 caracteres
			</mat-error>
			<mat-error *ngIf="form.controls.tema.hasError('maxlength')">
			  Debe tener 255 caracteres como máximo
			</mat-error>
		  </mat-form-field>
		
		<mat-form-field appearance="outline" class="d-block">
		  <mat-label>Descripción</mat-label>
		  <textarea matInput formControlName="descripcion" row="5"></textarea>
  
		  <mat-error *ngIf="form.controls.descripcion.hasError('required')">
			Este campo es obligatorio
		  </mat-error>
		  <mat-error *ngIf="form.controls.descripcion.hasError('minlength')">
			Debe tener al menos 11 caracteres
		  </mat-error>
		  <mat-error *ngIf="form.controls.descripcion.hasError('maxlength')">
			Debe tener 255 caracteres como máximo
		  </mat-error>
		</mat-form-field>
  

		  <mat-form-field  appearance="outline" class="d-block">
			  <mat-label>Curso</mat-label>
			  <input type="text"
			 	placeholder="Curso"
				matInput
				formControlName="curso_n"
				[formControl]="myControl"
				[matAutocomplete]="auto"
				(keyup)="reloadOptions($event)"
			  >
			  <mat-error *ngIf="form.controls.curso_n.hasError('required')">
				Este campo es obligatorio
			  </mat-error>
			  <mat-autocomplete #auto="matAutocomplete">
				  <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="clickOption(option)">
					  {{option}}
				  </mat-option>
			  </mat-autocomplete>
			  
		  </mat-form-field>

		  <mat-form-field appearance="outline" class="d-block">
			<mat-label>Descripcion de curso</mat-label>
			<textarea
				matInput
				formControlName="curso_d"
				row="5"
				>
			</textarea>
	
			<mat-error *ngIf="form.controls.curso_d.hasError('required')">
			  Este campo es obligatorio
			</mat-error>
			<mat-error *ngIf="form.controls.curso_d.hasError('minlength')">
			  Debe tener al menos 11 caracteres
			</mat-error>
			<mat-error *ngIf="form.controls.curso_d.hasError('maxlength')">
			  Debe tener 255 caracteres como máximo
			</mat-error>
		  </mat-form-field>

		<button mat-button routerLink="/admin/groups">Cancelar</button>
  
		<button
		  mat-raised-button
		  color="primary"
		  type="submit"
		  class="ms-2"
		  [disabled]="frmGroup.invalid"
		>
		  Guardar
		</button>
	  </form>
	</div>
  </div>
  