<mat-card *ngIf="usuario">
    <mat-card-title>{{usuario.nombres}} {{usuario.apellidos}}</mat-card-title>
    <mat-card-content>
        <div class="info">
            <p>Correo: {{usuario.correo}}</p>
            <p>Carrera: {{usuario.carrera}}</p>
            <p>Actividades completadas: {{usuario.num_act_completas}}</p>
            <p>Monedas: {{usuario.num_monedas}}</p>
            <p>Tipo de Usuario: {{usuario.tipo_usuario}}</p>
        </div>
    </mat-card-content>
    <mat-action-row>
        <div class="d-flex justify-content-between" style="width: 100%;">
            <div>
                <button mat-raised-button color="accent" 
                    (click)="updateDialog(usuario)">EDITAR PERFIL</button>
            </div>
            <div>
                <button mat-raised-button color="warn"
                    (click)="deleteUsuario()">ELIMINAR</button>
            </div>
        </div>
    </mat-action-row>
</mat-card>

<div *ngFor="let recompensa of recompensas">
    <mat-expansion-panel style="background-color: rgb(247, 243, 211);">
        <mat-expansion-panel-header>
            <mat-panel-title class="text-end" style="font-size: 20px;">
                {{recompensa.detalles}}
            </mat-panel-title>
        </mat-expansion-panel-header>
          <p>Detalles: {{recompensa.detalles}}</p>   
    </mat-expansion-panel>
</div>

